#loading {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(197, 172, 208, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}

#loading .spinner {
    height: 8rem;
    width: 8rem;
    border: 10px solid rgb(133, 106, 214);
    border-left: 10px solid rgb(96, 47, 153);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
}

#loading .spinner-text {
    position: absolute;
    font-size: 14px;
    color: rgb(54, 54, 54);
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: sans-serif;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}